<%= render 'shared/navbar' %>
<div class="container">
  <% @cars.each do |car| %>
    <div class="card-car">
      <div class="card-car-infos">
        <%= link_to "#{car.brand} #{car.model}", car_path(car) %>

        <% if car.image_url? %>
          <%= image_tag car.image_url, alt: "Photo of car", class: "car-image"%>
        <% else %>
          <%= image_tag "defaultcar.jpg", alt: "Default photo of car", class: "car-image" %>
      <% end %>
        <div class="card-comment">

        <p><i class="fa-regular fa-comment"></i> <%= link_to "Comment", car_path(car)%></p>
        </div>
    </div>
  </div>
  <% end %>
</div>
