<%= render 'shared/navbar' %>
<div class="show-container">
  <%= link_to "Back to all cars", cars_path , class: "btn btn-warning"%>
    <div class="show-card">
      <div class="show-car-image">
        <%= image_tag @car.image_url%>
      </div>
      <div class="show-car-cards">
        <ul>
        <li> <h4> <%= @car.brand %></h4></li>
        <li> <%= @car.model %></li>
        <li> <%= @car.year %></li>
        <li> <%= @car.fuel %></li>
        </ul>

        <%= simple_form_for [@car, @review] do |f|%>
            <%= f.input :comment, label_html: {class: "d-none"}, placeholder: "Comment"%>
            <%= f.select :rating, 0..5  %>
            <%= f.submit %>
          <% end %>
      </div>
        <hr>
          <% @car.reviews.each do |review| %>
          <p> <%= " '#{review.comment}' | "%> Rating: <%= 'â­ï¸' * review.rating%></p>
          <% end %>

            <% if @car.favourites.empty? %>
          <%= simple_form_for [@car, @favourite] do |f| %>
            <%= f.submit "Add to my garage" %>
          <% end %>
          <% else %>
            <p>This car is parked in your garage</p>
            <%= link_to "View my garage", favourites_path(@favourite)%>

          <% end %>

    </div>


</div>
