<h1>
<%= @car.brand %>
<%= @car.model %>
<%= @car.year %>
</h1>
<p> Fuel type:
<%= @car.fuel %></p>
<p> Owner:
<%= @car.owner.nickname %></p>
<hr>


<%= simple_form_for [@car, @favourite] do |f| %>
  <%= f.submit "Add to my garage" %>
<% end %>



<hr>
<h4>Leave a review for <%= "#{@car.brand} #{@car.model} #{@car.year}"%></h4>
<%= simple_form_for [@car, @review] do |f|%>
    <%= f.input :comment %>
    <%= f.select :rating, 0..5 %>
    <%= f.submit %>
  <% end %>

<hr>
<h4>All Reviews for <%= "#{@car.brand} #{@car.model} #{@car.year}"%> </h4>

  <% @car.reviews.each do |review| %>
  <p> <%= "Comment: '#{review.comment}' | Rating:#{review.rating}" %></p>
  <% end %>

  <br>

<%= link_to "Back home", root_path %>
